
#animation { 
    background-image: url('/img/sixSided.png');
    background-repeat: no-repeat;
    background-size: 600%; 
    height: 150px; 
    width: 150px; 
    margin: 0 auto;
    text-align: center;
}


.dice {  
    margin: 0 auto;
    height: 150px;
    width: 150px;
    text-align: center;
}

.in-window{
    margin: 50px auto;
    width: 30%;
    padding: 0px 0px 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;   
}

.align-btn{
    text-align: center;
    margin: 35px auto 0px;
    width: 25%;
}

h2{
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 35px;
}

.dice_1 {
   background-image: url('img/die01.png');
}
.dice_2 {
    background-image: url('img/die02.png');
}
.dice_3 {
    background-image: url('img/die03.png');
}
.dice_4 {
    background-image: url('img/die04.png');
}
.dice_5 {
    background-image: url('img/die05.png');
}
.dice_6 {
    background-image: url('img/die06.png');
}