#dice {
    background-image:url('http://www.clker.com/cliparts/e/7/4/4/1194991183406177705six-sided_dice_faces_lio_01.svg.med.png');
    height:49px;
    width:49px;
    display:inline-block;
    margin:5px;
}

.dice_1 {
    background-position:0px 0px;
}
.dice_2 {
    background-position:-50px 0px;
}
.dice_3 {
    background-position:-101px 0px;
}
.dice_4 {
    background-position:-151px 0px;
}
.dice_5 {
    background-position:-201px 0px;
}
.dice_6 {
    background-position:-251px 0px;
}